body{
    background-color: rgb(229, 225, 250);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

h1,footer{
    border-style: dashed;
    border-color: rgb(135, 90, 240);
    margin-top: 100px;
    font-size: 2.5rem;
    padding-bottom: 20px;
    
}
footer{
    margin-top: 2em;
    font-size: 1em;
    
}

span{
    background-color: rgb(217, 167, 250);
    border-radius: 30%;
}


h2{
    font-size:2em;
    text-decoration: underline;
}

section{
    margin-top: 6em;
}

img{
    width:4%;
}


ul{
    list-style:none ;

}

.skillList{
    margin-left: auto;
    margin-right: auto;
    border: solid;
    width: 10%;
    text-align: center;
    padding-block: 0.5%;
}



.messageGrid{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
col{
    flex:1;
    
}
.messageItems{
    word-break: break-all;
}


.wrap, #navi{
    display: flex;

    
}
.wrap{

    width: 95%;
}
#navi{
    margin-top: -100px;
    width:100%;

    position: fixed;
    height: 3em;
    border-bottom-style: outset;
    border-bottom-color: rgb(217, 167, 250);
    background-color: blueviolet;

}

.navigation{
    padding: 10px;
    color: white;
}
.removebtn{
    margin-bottom: 15px;
}

button{
    font-family: monospace;
    border-radius: 75%;
}

@media screen and (max-width: 360px){
    section{
        margin: 0.5em;
    }
}
  


