 /* learned form a Youtube tutorial by: Online Tutorials */

body{
    margin: 0rem;
    padding: 0rem;
}

center{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 


.rainbow-roll ul{
    margin: 1rem;
    padding: 2rem;
    top: 4rem;
    right: 4rem;
    position: fixed;
    width: 2rem;
    height: 2rem;
    display: flex;
} 

.rainbow-roll ul li{
    list-style: none;
    border-radius: 45% 45% 45%;
    border: 0.6rem solid;
    position: absolute;
    top: 2rem;
    left: 60%;
    right: 2rem;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important; 
    animation: animate 5s infinite alternate;
    transform: translate( -50%, -50%);
}
   .rainbow-roll ul li:nth-child(1){
        width: 1rem;
        height: 1rem;
        border-color: black;
        animation-delay: .1s;
    }
    .rainbow-roll ul li:nth-child(2){
        width: 2.5rem;
        height: 2.5rem;
        border-color: violet;
        animation-delay: .5s;
    }
    .rainbow-roll ul li:nth-child(3){
        width: 4rem;
        height: 4rem;
        border-color: purple;
        animation-delay: 1s;
    }
    .rainbow-roll ul li:nth-child(4){
        width: 5.5rem;
        height: 5.5rem;
        border-color: blue;
        animation-delay: 1.2s;
    }
    .rainbow-roll ul li:nth-child(5){
        width: 7rem;
        height: 7rem;
        border-color:green;
        animation-delay: 1.8s;
    }
    .rainbow-roll ul li:nth-child(6){
        width: 8.5rem;
        height: 8.5rem;
        border-color: yellow;
        animation-delay: 2.0s;
    }
    .rainbow-roll ul li:nth-child(7){
        width: 10rem;
        height: 10rem;
        border-color: orange;
        animation-delay: 2.5s;
    }
    .rainbow-roll ul li:nth-child(8){
        width: 12rem;
        height: 12rem;
        border-color: red;
        animation-delay: 1.5s;
    }

@keyframes animate{
    0%{
        transform: translate(-50%, -50%) rotate(-100deg);/*start*/
    }
    100%{
        transform: translate(-50%, -50%) rotate(230deg);
    }
}